<ion-view view-title="Airlines">
	<ion-content>
		<div class="list list-inset">
		  <label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="Search airlines" ng-model="search.q" ng-keyup="search()">
		  </label>
		</div>

		<ion-list>
			<ion-item ng-repeat="airline in airlines" href="#/tab/airline/{{airline.id}}">
				{{airline.name}}  <small>({{airline.iata}})</small>
				 <p>
					Country: {{airline.country}}
				</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
